<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
</br>
<% if @question.resolved == true %>
	<p><strong>The question has been answered.</strong></p>
<% else %>
	<p><strong>The question hasn't been answered.</strong></p>
<% end %>

<div class="col-md-4">
	<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
	<%= link_to "Delete Question", @question, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this question?' } %>
</div>
