<h1>Topics</h1>
<div class="row">
	<div class="col-md-8">
	<!-- Loops over each topic -->
		<% @topics.each do |topic| %>
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading">
						<%= link_to topic.name, topic %> <!-- Link to the show view for each topic -->
					</h4>
					<small>
						<%= topic.description %>
					</small>
				</div>
			</div>
		<% end %>
	</div>
	<% if user_is_authorized_to_create_delete_topics? %>
		<div class="col-md-4">
		<!-- Link to create a new topic -->
			<%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
		</div>
	<% end %>
</div>