<div class="jumbotron">
	<h1>PostEnvy</h1>
	<h6>Will people be envious of your posts?</h6>
	<p>
		<%= link_to "Sign In", new_session_path %> or
		<%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Post</h2>
		<p>Post about anything your heart desires!</p>
	</div>
	<div class="col-md-4">
		<h2>Comment</h2>
		<p>Share your reaction to posts.</p>
	</div>
	<div class="col-md-4">
		<h2>Vote</h2>
		<p>You decide which posts will rise or fall in popularity!</p>
	</div>
</div>