// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
	position: absolute;
	padding: 5px 10px;
	font-family: Input Mono;
	font-weight: bold;
	line-height: 1;
	color: #444;
	border: none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
	background-color: #fff;
	border-radius: 15px 15px 15px 15px;
	margin: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}