<% if current_user %>
	<div class="vote-arrows float-left">
		<div><%= link_to " ", post_up_vote_path(post), class: 'fa fa-angle-up', method: :post %></div>
		<div class="points"><strong><%= post.points %></strong></div>
		<div><%= link_to " ", post_down_vote_path(post), class: 'fa fa-angle-down', method: :post %></div>
	</div>
<% end %>